.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 20px;
  font-size: 25px;
}

.nav-items > ul {
  display: flex;
  padding: 5px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search {
  padding: 10px;
}

.res-card {
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: auto;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
  display: flex;
}

.login {
  margin: 12px;
  padding: 0 20px;
  cursor: pointer;
}

.filter{
  display: flex;
}

.view-all-res{
  margin: 10px;
  cursor: pointer;
}
